@import "../variables";

.ve-init-mw-desktopArticleTarget-toolbar{
  margin-right: -1.6rem;
  margin-left: -1.6rem;
  margin-top: -1.2em;
  font-size: 0.8em;
}


.ve-init-mw-desktopArticleTarget .ve-init-mw-target-surface .ve-ce-documentNode{
  padding: 0;
}


.ve-ui-overlay{
  font-size: 0.9em;
  font-family: inherit;
  //z-index: 30;
}

.ve-ui-overlay-global{
  font-size: 0.8em;
  z-index: 40;
}

.ve-init-mw-desktopArticleTarget{
  z-index: 30;
}
.ve-ui-toolbar-floating > .oo-ui-toolbar-bar{
  top: @hd-height + 0.03rem;
}

.oo-ui-tool-name-heading2,
.oo-ui-tool-name-heading1{
  &>a>.oo-ui-tool-title{
    font-family: @heading-fonts;
  }
}
