#AgarulHeader, #page-header{
  display: none;
}

#pagenav{
  display: none;
}
#footer{
  font-family: Roboto, "Noto Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
}

#footer ul{
  list-style-type: none;
  padding-left:1em;
}

.catlinks{
  display: none;
}
