#AgarulHeader{
  height: @hd-height;
  position: fixed;
  width: 100%;
  background-color: #fdfdfd;
  z-index: 10;
  top:0;
  box-shadow: 0px 7px 10px -7px rgba(0,0,0,0.42);
}

#AgarulHeaderNav{
  margin: 0 auto;
  background-color: inherit;
  box-sizing: border-box;
  position: relative;
  height: @hd-nav-height;
  border-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  max-width: 1024px;
  padding: 0 0.5em;
  .mw-jump{
    position: absolute;
  }
}

#AgarulHeader-left{
  flex: 1;
}

.AgarulHeader-column{
  display: flex;
}


#p-search{
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  height: @hd-nav-height;
  flex: 1;
  box-sizing: border-box;
  padding: 0.5em 1em;
  width: 100%;
  h3{
    position: absolute;
    visibility: hidden;
  }

  label{
    display: none;
  }

  i{
    position: absolute;
    padding: 0.8em 0.5em;
    padding-bottom: 0;
    color: lighten(gray,10%);
    transition: color 0.2s;
    top: 0;
    left: 0;
  }

  #AgarulSearchContainer{
    height: 2.5em;
    position: relative;
  }

  #searchInput{
    padding: auto;
    padding-left: 2.2em;
    font-size: 0.8rem;
    padding-right: 2px;
    width: 100%;
    outline:none;
    font-family: inherit;
    box-sizing: border-box;
    height: 100%;
    &:hover{
      & + i{
        color: darken(gray, 5%);
      }
    }
    &:focus{
      & + i{
        color: darken(gray, 30%);
      }
    }
  }

  .searchButton{
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }
}

#AgarulSiteName{
  box-sizing: border-box;
  vertical-align: middle;
  display: flex;
  float: left;
  a{
    display: inline-flex;
    padding: 0 0.5em;
    height: @hd-height;
    align-items: center;
    box-sizing: border-box;
    img{
      max-height: @hd-height * (2/3);
      max-width: 10em;
    }
    &:active{
      outline: 1px dotted gray;
    }
  }
}

#navigation-left{
  float:left;
  margin-top: auto;
  margin-left: 5px;
  &>div{
    float: left;
  }
}

#navigation-right{
  float:right;
  margin-right: 5px;
  &>div{
    float: left;
  }
}


#AgarulHeader-left{
  .HeaderDropdown h3{
    //transition: font-size 250ms, padding 250ms;
  }
}

#AgarulHeader-left.search-focus{
  .HeaderDropdown h3{
    font-size: 0;
    padding: 0;
    &::after{
      display: none;
    }
  }
}
