html{
  font-size: 100%;
}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
}
body{
  background-color: white;
}

/* Fix for certain browsers */
article, aside, footer, header, hgroup, main, nav, section{
  display: block;
}

@import 'common-nav';

#toc, .toc, .toccolours, .mw-warning{
  border: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  padding: 1em;
  background-color: white;
}

#content .toctitle h2{
  font-family: inherit;
  font-weight: 500;
  border-bottom: 2px gray solid;
}

.suggestions{
  top: 3.05rem !important;
  position: fixed !important;
}

#page-header{
  height: @hd-height;
}

#AgarulPage{
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.45);
  background-color: @ik-bgcolor;
  border-width: 0 1px;
  box-sizing: border-box;
  min-height: 40vh;
  margin: 2em 2em;
  margin-top: 0;
}

#AgarulPageWrapper{
  background-image: url('resources/bg2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  background-position-x: center;
  //background-color: #cec798;
  background-color: rgba(255, 255, 255, 0.32);
  background-blend-mode: screen;
}

#pagenav{
  height: 3em;
  width: 100%;
  box-sizing:border-box;
  background-color: fade(darken(@pagenav-color,5%), 65%);
  border-bottom: 1px solid darken(@pagenav-color, 50%);
}

#content{
    padding: 1em 1.6em;
    padding-top: 1em;
}

.mw-body-content{
  line-height: 1.6;
  font-size: 0.875em;

  h1, h2{
    font-family: @heading-fonts;
    padding-bottom: 0;
  }

  h1{
    border-bottom: 3px solid shade(red, 30%);
    font-size: 1.8rem;
  }
  h2{
    border-bottom: 2px solid orange;
    font-size: 1.5em;
  }

  h3{
    font-size: 1.2em;
  }

  h4, h5{
    font-size: 100%;
  }
  
  .toc h2{
    font-size: 100%;
  }
  
}

.mw-body h1{
  &:extend(.mw-body-content h1);
}

.mw-indicators{
  float:right;
  .mw-indicator{
    display: inline-block;
  }
}

.firstHeading{
  overflow: visible;
  padding-top: 0;
}

.mw-editsection{
  font-family: sans-serif;
}

// List Rules

ul{
 list-style-type: disc;
}

.mw-createacct-benefits-container{
  background-color: white;
  padding: 0 0.5em;
  box-shadow: 0 0 5px 2px rgba(177, 177, 177, 0.34);
  h2{
    font-family: inherit;
    font-weight: 300;
    font-size: 1.2em;
  }
}

.ui-widget{
  font-size: 0.8em !important;
}

table.diff{
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 1em;
  box-shadow: 0 0 10px 0px #8c8c8c6e;
}

hr.diff-hr{
  visibility: hidden;
}

footer{
  //border-top: 5px darken(gray, 10%) solid;
  background-color: white;
  box-sizing: border-box;
  padding: 0.7em 1em 2.5em;
  color: darken(gray, 30%);
  box-shadow: 0px -10px 9px -8px rgba(0,0,0,0.55);
  line-height: 1.6em;
  ul{
   font-size: 0.9em;
   font-weight: 500;
   .list-ui();
   margin-left:0;
  }

  #footer-info{
  }
  #footer-places{
   li{
    float:left;
    margin-right: 1em;
   }
  }

  #footer-info-links{
    float: left;
  }

  #footer-icons{
    float: right;
  }
}
