.mw-body-content {
	a.external {
		&::after{
      .font-icon(solid; "external-link-square-alt"; 0.85em);
      margin-left: 0.3em;
      //transform: translateY(-23%);
      color: #36c;
    }
	}
}
.plainlinks a.external{
  &::after{
    content: none;
		display: none;
  }
}
