/* Mixins for use for the Agarul skin */

.font-icon(solid; @icon; @font-size: 1em) {
  font-weight: 900;
}

.font-icon(regular; @icon; @font-size: 1em) {
  font-weight: 400;
}

.font-icon(@_; @icon; @font-size: 1em){
  font-family: "Font Awesome 5 Free";
  @font-icon-content: "fa-var-@{icon}";
  content: @@font-icon-content;
  display: inline-block;
  margin-left: 5px;
  font-size: @font-size;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.list-ui(){
  list-style-type: none;
  list-style-image: none;
}
