.HeaderDropdown{
  vertical-align: middle;
  position: relative;
  ul{
    display: none;
    position: absolute;
    .list-ui();
    min-width: 100%;
    margin: 0;
    padding: 0.3em 0 0.2em;
    border-radius: 0 0 2px 2px;
    z-index: 1;
    background-color: white;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
    opacity: 0;
    li{
      margin: 0;
    }
  }
  &>h3{
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    user-select: none;
    margin: 0;
    box-sizing:border-box;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.75em;
    color: lighten(black, 40%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    &:hover{
      color: lighten(black, 20%);
    }
    & > span::after{
      .font-icon(solid; "chevron-down"; 0.8em);
    }
  }

  a{
    width: inherit;
    display: block;
    background-color: inherit;
    padding: 0.4em;
    text-decoration: none !important;
    color: lighten(black, 15%) !important;
    font-size: 0.82em;
    white-space: pre;
    &.feedlink{
        background-position: 0.4em;
        padding-left: 1.3rem;
    }
    &:hover{
      background-color: #ededed;
    }
  }

  &.open, html.client-nojs &:hover{
    &>h3{
      background-color: #e8e8e8;
      color: lighten(black, 20%);
    }
    ul{
      display: block;
      opacity: 1;
    }
  }

  html.client-nojs &{
    h3{
      cursor: default;
      transition: background-color 225ms;
    }
  }

  &.icon-only{
    h3{
      padding: 1.25rem 0.75rem;
      & > span::after{
        content: "";
        display: none;
      }
    }
    ul{
        right: 0;
        min-width: 8rem;
    }
  }

}


.mw-notification-area{
  position: fixed !important;
  top: 6em !important;
  width: 15em !important;
  .mw-notification{
    border: 1px solid lighten(black, 15%);
    box-shadow: 2px 2px 10px 0px fade(gray, 50%);
    border-radius: 2px;
    font-size: 0.8em;
    -webkit-font-smoothing: antialiased;
  }
}


.AgarulFormControl{
  border: 1px solid lightgray;
  outline: none;
  padding: 0.3em 0.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.25) inset;
  font-family: inherit;
  transition: border-color 150ms, box-shadow 150ms;
  &:hover{
    border-color: darkgray;
  }
  &:focus{
    border-color: gray;
    box-shadow:  0 0 12px -2px rgba(0, 0, 0, 0.25) inset;
  }
}


@pagenav-size: 0.8em;

.AgarulTabs{
  h3{
    position: absolute;
    visibility: hidden;
  }
  & > ul{
    margin:0;
    float:left;
    & > li{
      float:left;
      .list-ui();
      a{
        color: lighten(black, 50%) !important;
        text-decoration: none !important;
        display: block;
        padding: 1rem 10px;
        padding-bottom: 0.3em;
        font-size: @pagenav-size;
        text-transform: capitalize;
        font-weight: 500;
        transition: box-shadow 150ms, color 200ms;
        box-sizing: border-box;
        height: 2.8rem;
        &:hover{
          box-shadow: inset 0 -2px 0 0 darken(gray, 15%);
          color: lighten(black, 25%) !important;
        }
      }

      &.selected{
        a{
          box-shadow: inset 0 -2px 0 0 orange;
          color: black !important;
        }
      }
    }
  }
}


.AgarulDropdown{
  margin-left: 0.3em;
  position: relative;
  cursor: pointer;
  h3{
    color: darken(gray, 20%) !important;
    text-decoration: none !important;
    display: block;
    margin:0;
    font-size: @pagenav-size;
    text-transform: capitalize;
    border: solid black;
    border-width: 0 1px;
    font-weight: 500;
    padding-top: 1rem;
    padding-left: 5px;
    padding-right: 0.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    height: 3rem;
    margin-bottom: -1px;
    box-sizing: border-box;
    &:after{
      .font-icon(solid; "caret-down");
      transition: transform 100ms;
    }
  }
  ul{
    position: absolute;
    margin: 0;
    background-color: white;
    padding: 2px 5px;
    border: 1px solid lightgray;
    border-top: 1px solid gray;
    z-index: 5;
    min-width: 100%;
    display: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px 0 #a2a2a26e;
    li{
      .list-ui();
      a{
        display: block;
        padding: 0.5em 0.25em;
        font-size: 0.85em;
        color: #36b !important;
        white-space: nowrap;
      }
      &.selected{
        a{
          color: black !important;
          font-weight: 500;
          text-decoration: none !important;
        }
      }
    }
  }
  &:hover, &.open{
    ul{
      display: block;
    }
  }
  &.open{
    h3{
      &::after{
        transform: translateY(0.5em);
      }
    }
  }

  #navigation-right & ul{
    right: 0;
  }
}

/* Watch Link */
#p-views .mw-watchlink{
  a{
    font-size: 0;
    width: 1.5rem;
    position: relative;
    &::after{
      content: @fa-var-spinner;
      .font-icon(solid, "spinner", 1rem);
      color: black;
      position: absolute;
      left: 0;
      top: 0;
      padding: 1rem 0.2rem;
    }
  }
  &:not(#ca-watch):not(#ca-unwatch){
    a::after{
      .fa-pulse();
    }
  }
  &#ca-watch{
    a::after{
      content: @fa-var-eye-slash;
    }
  }
  &#ca-unwatch{
    a::after{
      content: @fa-var-eye;
    }
  }
}

div.emptyNav{
  display: none;
}
