
#preftoc{
  a{
    outline: none;
  }
  margin: 0;
  margin-top: 0.5em;
  &:extend(.AgarulTabs > ul all);
  li{
    .list-ui();
  }
}

html.client-js #mw-prefs-form{
  .prefsection{
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    fieldset{
      border: none;
      border-top: 1px solid gray;
      margin: 0;
    }
  }
  .mainLegend{
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .mw-prefs-buttons{
    border-top: 3px solid darken(@pagenav-color, 20%);
    padding-top: 0.5em;
  }
  border-top: 3px solid darken(@pagenav-color, 20%);
}

#mw-prefs-form{
  padding-bottom: 1em;
  input:not([type]), input[type="email"], input[type="text"], input[type="number"], input[type="password"]{
    &:extend(.AgarulFormControl all);
  }
}

html.client-nojs #preferences > fieldset{
  fieldset{
    border: none;
    border-top: 1px solid gray;
    margin: 0;
  }
}

#mw-htmlform-gadgets h1{
  border-bottom: 2px solid orange;
  font-size: 1.8em;
}
