
@media screen and (min-width: 1024px){
  #AgarulPage{
    margin: 2em auto;
    margin-top: 0;
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  #AgarulPage{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
}

@media screen and (min-width: 1300px) {
  #AgarulPage{
    max-width: 1200px;
  }
  .mw-body-content{
    font-size: 0.92em;
  }
  div.HeaderDropdown h3{
    font-size: 0.8em;
  }
}

@media screen and (max-width: 950px){
  #AgarulPage{
    width: 100%;
    min-width: unset;
    margin: 1em auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  footer{
    box-shadow: inset 0px 10px 9px -8px rgba(0,0,0,0.55);
    border-top: 3px solid #8e8e8e;
  }
}
